{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{% static 'css/Aclientes.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
        <div class="contenedor">
            {% block content %}
            <div class="formulario">
                <h2>¿Estás seguro de que deseas eliminar a {{ cliente.Nombre }} {{ cliente.Apellidos }}?</h2>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">Sí, eliminar</button>
                    <a href="{% url 'clientes' %}" class="btn-cancelar">Cancelar</a>
                </form>
            </div>
            {% endblock %}
        </div>
</body>
<style>
a.btn-cancelar {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: purple;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.btn-cancelar:hover {
    background-color: plum;
}
</style>
</html>